body {
    margin: 0;
    width: auto;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h3 {
    color: var(--tg-theme-text-color);
    margin-bottom: 0;
}

.input {
    padding: 10px;
    margin-top: 15px;
}

.select {
    padding: 10px;
    margin-top: 15px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    transform: scale(1.5);
    margin-top: 10px;
}

//apple
//h3 {
//    color: var(--tg-theme-text-color);
//    font-size: 50px;
//    margin-bottom: 10px;
//}
//
//.select {
//    height: 60px;
//    font-size: 25px;
//}
//
//input[type="checkbox"] {
//    height: 15px;
//    margin-top: 10px;
//    margin-left: 15px;
//    transform: scale(2.5);
//    width: 15px;
//}