body {
    margin: 0;
    width: auto;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h3 {
    color: var(--tg-theme-text-color);
    margin-bottom: 0;
}

.input {
    padding: 10px;
    margin-top: 15px;
}

.select {
    padding: 10px;
    margin-top: 15px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    transform: scale(1.5);
    margin-top: 10px;
}

.startGameContainer {
    display: flex;
    justify-content: center;
}

.startPage {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.startGameButton {
    padding: 9px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border: 1px solid;
    background: white;
    outline: none;
}

button > a {
    text-decoration: none;
    color: var(--tg-theme-text-color);
    padding: 9px 25px;
}

//ios
.apple {
    padding: 20px;

    h3 {
        color: var(--tg-theme-text-color);
        font-size: 50px;
        margin-bottom: 10px;
        width: 100%;
    }

    .select {
        height: 140px;
        font-size: 30px;
        width: 100%;
    }

    input[type="checkbox"] {
        height: 15px;
        margin-top: 10px;
        margin-left: 15px;
        transform: scale(2.5);
        width: 15px;
    }
}